*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
header{
    max-width: 1600px;
}
header img {
    width: 100%;
    height: 300px;
   
    }

#div {   
    height: 300px;
    text-align: end;
    margin-bottom: 20px;
    position: relative;
}

#title {
    width: 300px;
    position: absolute;
    right: 80px;
    bottom: 25px;
    margin: 0; 
}


