*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    max-width: 1600px;
    margin: 0 auto;

}
#header {
    text-align: end;
    position: relative;
}

#title {
    /* width: 700px; */
    position: absolute;
    right: 10px;
    bottom: 55px;
}

#title h2 {
    font-size: 65px;
    font-weight: bold;
    width: 525px;
    color: #151414;
    margin:216px 230px  24px 45px;
    padding-top: 60px;
}

#title p {
    width: 525px;
    font-size: 16px;
    color: #444343;
    /* margin-bottom: 32px; */
    margin: 0px 230px 32px 45px;
}
#title button {
    /* margin-bottom: 166px; */
    margin:0px 230px 166px 121px;
}

#main{
    width: 1141px;
    margin: 0 auto;
    height: 723px;
    margin-top: 131px;
    margin-bottom: 130px;
}

.main{
    display: flex;
    align-items: center;
    gap: 87px;
}

