* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    max-width: 1600px;
    margin: 0 auto;

}

#header {
    text-align: end;
    position: relative;
}

#title {
    /* width: 700px; */
    position: absolute;
    right: 10px;
    bottom: 55px;
}

#title h2 {
    font-size: 65px;
    font-weight: bold;
    width: 525px;
    color: #151414;
    margin: 216px 230px 24px 45px;
    padding-top: 60px;
}

#title p {
    width: 525px;
    font-size: 16px;
    color: #444343;
    /* margin-bottom: 32px; */
    margin: 0px 230px 32px 45px;
}

.btn {
    font-weight: 600;
    font-size: 20px;
    padding: 20px 25px;
    background-color: #F15B22;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

#title button {
    /* margin-bottom: 166px; */
    margin: 0px 230px 166px 121px;
}

#main {
    width: 1141px;
    margin: 0 auto;
    height: 723px;
    margin-top: 131px;
    margin-bottom: 130px;
}

.main-img {
    display: flex;
    align-items: center;
    gap: 87px;

}

.bannar-img img {
    background-color: #F15B22;
    border-radius: 100%;
    height: 50%;
}

.main-text {
    width: 416px;
    height: 400px;

}

.main-text h3 {
    margin-bottom: 24px;
    font-size: 40px;
    font-weight: bold;
    width: 288px;
    height: 94px;
}

.main-text p {
    margin-bottom: 8px;
    font-size: 16px;


}

.card {
    width: 1141px;
    height: 300px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    margin-bottom: 130px;
}

.card h3 {
    padding: 50px;
    font-size: 40px;
    font-weight: bold;
    color: #151414;
}

.card-container {
    display: flex;
    justify-content: space-between;
}

.card-container h4 {
    font-size: 30px;
    font-weight: bold;
}

.card-container p {
    font-size: 25px;
    font-weight: 500;
}

.figure {
    width: 1141px;
    margin: 0 auto;
    background-image: url(../images/watch.png);
    height: 300px;
    position: relative;
    margin-bottom: 130px;
}

.figure-text {
    position: absolute;
    left: 10px;
    top: 10px;
    margin: 50px;

}

.figure-text h2 {
    margin-bottom: 24px;
    width: 460px;
    height: 94px;
    font-weight: bold;
    font-size: 40px;
    color: white;
}

.btn1 {
    width: 160px;
    height: 64px;
    color: #F15B22;
    font-weight: 600;
    font-size: 20px;
    border: none;
    border-radius: 5px;

}

/* .footer {
    display: flex;
    width:1600px;
    height: 577px;
    margin: 0 auto;

} */

.footer-child {
    width: 1600px;
    margin: 0 auto;
    height: 577px;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 331px;
    background-color: #151414;
    color: white;
}

.footer-left {
    width: 485px;
    height: 317px;
    margin: 130px 0 130px 230px;
    /* gap: 40px; */
    text-align: left;

}

.footer-left h3 {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 16px;
}

.footer-left p {
    margin-bottom: 24px;
    font-size: 16px;
}

.footer-right {
    width: 325px;
    height: 204px;
    margin: 130px 229px 242px 0;
    text-align: left;
}

.icons img {
    padding-right: 20px;

}

.footer-right h3 {
    font-size: 25px;
    font: weight 600px;
    padding-bottom: 31px;

}

#input {
    font-weight: 400;
    font-size: 18px;
    padding: 15px;
    border-radius: 8px;
    border: none;
}